# College Football Data EDA

In [1]:
#import packages
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../../Data/model-data/model_data.csv', index_col = 0)

df.head(5)

,Opponent,syn_date,Year,Team Earned YPPA_3_game_average,Team Earned YPRA_3_game_average,Team Earned TOP_3_game_average,Team Earned TO_3_game_average,Team Earned Points_3_game_average,Team Earned Pen Yards_3_game_average,Team Allowed YPPA_3_game_average,...,Opp Coaches Compensation,Opp Athletic Student Aid,Opp Total Revenues,"Opp Corporate Sponsorship, Advertising, Licensing",Opp Donor Contributions,Opp Competition Guarantees,Opp Ticket Sales,Opp Total Football Spending,Opp footall_expense_pct,Opp football_expense_pct
Team,,,,,,,,,,,,,,,,,,,,,
Akron,Ohio State,2011-09-01,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16511360.0,15129920.0,131815821.0,12162905.0,17636938.0,3853330.0,50009395.0,44287914.0,0.362164,0.362164
Alabama,Kent State,2011-09-01,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3763340.0,5287795.0,21448821.0,424323.0,435339.0,822050.0,669316.0,11774328.0,0.567253,0.567253
Arkansas State,Illinois,2011-09-01,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10259368.0,9847571.0,77863883.0,4553520.0,16437955.0,1376000.0,16533261.0,29526365.0,0.401846,0.401846
Army,Northern Illinois,2011-09-01,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auburn,Utah State,2011-09-01,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3887698.0,4389402.0,22777944.0,564983.0,1869811.0,831640.0,1965806.0,11704878.0,0.594142,0.594142

## Wins By Conference

### Total Wins by Conference

In [3]:
#wins by conference
dfPlt = df.groupby('Team Conference')['Win'].sum().\
                                             reset_index(name ='Total Wins').\
                                             sort_values('Total Wins', ascending = False)


plt.bar(x = dfPlt['Team Conference'], height = dfPlt['Total Wins'])
plt.title('Total Wins by Each FBS Conference (2011-2018)')
plt.xlabel('Conference')
plt.ylabel('Total Wins')
plt.xticks(rotation=45)
plt.show()

KeyError: 'Team Conference'

### Total Yearly Wins by Conference

In [ ]:
#wins by conference by year
dfPlt = df.groupby(['Team Conference', 'Year'])['Win'].sum().\
                                             reset_index(name ='Total Wins').\
                                             sort_values('Year', ascending = False)


grouped = dfPlt.groupby(['Team Conference'])
fig, ax = plt.subplots()
for key, group in grouped:
    group.plot('Year', 'Total Wins', label=key, ax=ax)

plt.legend(bbox_to_anchor=(1.04,1), loc="upper left")



plt.title('Yearly Wins by Each FBS Conference')
plt.xlabel('Conference')
plt.ylabel('Total Wins')
plt.xticks(rotation=45)
plt.show()

### Winning Percentage by Conference

In [ ]:
dfPlt = df.groupby(['Team Conference']).\
           agg({'Win': ['sum','count']}).\
           reset_index()

#remove multi indexing
dfPlt.columns = list(map(''.join, dfPlt.columns.values))

#rename columns
dfPlt = dfPlt.rename(columns = {'Winsum': 'Total Wins', 'Wincount': 'Number of Games'})

#Win Pct column
dfPlt['Win Pct'] = dfPlt['Total Wins']/dfPlt['Number of Games']

In [ ]:
#order results to make graph more readable
dfPlt = dfPlt.sort_values('Win Pct', ascending = False)
#plot results
plt.bar(x = dfPlt['Team Conference'], height = dfPlt['Win Pct'])
#title
plt.title('Winning Percentage by Each FBS Conference (2011-2018)')
#labels
plt.xlabel('Conference')
plt.ylabel('Winning Percentage')
#make axis readable
plt.xticks(rotation=45)
#show
plt.show()

In [ ]:
#view winning perfe