In [6]:
#import packages
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('../../Data/model-data/model_data.csv', index_col = 0)

#replace independent with ind. for better graphs
df.loc[df['Team Conference'] == 'Independent', 'Team Conference'] = 'Ind.'
df.loc[df['Opponent Conference'] == 'Indepedent', 'Opponent Conference'] = 'Ind.'

df.head(5)

,Team,Opponent,syn_date,Year,Team Win,Team Conference,Opponent Conference,Team Win_3_game_average,Team Earned YPPA_3_game_average,Team Earned YPRA_3_game_average,...,Opp Coaches Compensation,Opp Athletic Student Aid,Opp Total Revenues,"Opp Corporate Sponsorship, Advertising, Licensing",Opp Donor Contributions,Opp Competition Guarantees,Opp Ticket Sales,Opp Total Football Spending,Opp footall_expense_pct,Opp football_expense_pct
0,Akron,Ohio State,2011-09-01,2011,0,MAC,Big 10,NaN,NaN,NaN,...,16511360.0,15129920.0,131815821.0,12162905.0,17636938.0,3853330.0,50009395.0,44287914.0,0.362164,0.362164
1,Alabama,Kent State,2011-09-01,2011,1,SEC,MAC,NaN,NaN,NaN,...,3763340.0,5287795.0,21448821.0,424323.0,435339.0,822050.0,669316.0,11774328.0,0.567253,0.567253
2,Arkansas State,Illinois,2011-09-01,2011,0,Sun Belt,Big 10,NaN,NaN,NaN,...,10259368.0,9847571.0,77863883.0,4553520.0,16437955.0,1376000.0,16533261.0,29526365.0,0.401846,0.401846
3,Army,Northern Illinois,2011-09-01,2011,0,Ind.,MAC,NaN,NaN,NaN,...,3593287.0,6810435.0,24148602.0,370107.0,1329546.0,1629150.0,864185.0,13076496.0,0.573691,0.573691
4,Auburn,Utah State,2011-09-01,2011,1,SEC,WAC,NaN,NaN,NaN,...,3887698.0,4389402.0,22777944.0,564983.0,1869811.0,831640.0,1965806.0,11704878.0,0.594142,0.594142

In [20]:
for i in range(len(df.isna().sum().values)):
    if df.isna().sum().values[i] == 11776:
        print(df.isna().sum().reset_index()['index'][i])
    else:
        continue

Team Coach Change
Opp Coach_Change

In [18]:
df.isna().sum().reset_index()

                                                index     0
0                                                Team     0
1                                            Opponent     0
2                                            syn_date     0
3                                                Year     0
4                                            Team Win     0
5                                     Team Conference     0
6                                 Opponent Conference     0
7                             Team Win_3_game_average   131
8                     Team Earned YPPA_3_game_average   131
9                     Team Earned YPRA_3_game_average   131
10                   Team Allowed YPRA_3_game_average   131
11                            Team Win_6_game_average   131
12                    Team Earned YPPA_6_game_average   131
13                    Team Earned YPRA_6_game_average   131
14                   Team Allowed YPRA_6_game_average   131
15                           Team Win_12_game_average   131
16                   Team Earned YPPA_12_game_average   131
17                   Team Earned YPRA_12_game_average   131
18                  Team Allowed YPRA_12_game_average   131
19                             Opp Win_3_game_average   142
20                Opponent Earned YPRA_3_game_average   142
21               Opponent Allowed YPPA_3_game_average   142
22               Opponent Allowed YPRA_3_game_average   142
23                             Opp Win_6_game_average   142
24                Opponent Earned YPRA_6_game_average   142
25               Opponent Allowed YPPA_6_game_average   142
26               Opponent Allowed YPRA_6_game_average   142
27                            Opp Win_12_game_average   142
28               Opponent Earned YPRA_12_game_average   142
29              Opponent Allowed YPPA_12_game_average   142
..                                                ...   ...
33                          Team Roster Change Amount    44
34                           Opp Roster Change Amount    44
35                                Team Total Expenses  2016
36                                       Team Medical  2016
37                                    Team Recruiting  2016
38                      Team Game Expenses and Travel  2016
39                          Team Coaches Compensation  2016
40                          Team Athletic Student Aid  2016
41                                Team Total Revenues  2016
42  Team Corporate Sponsorship, Advertising, Licen...  2016
43                           Team Donor Contributions  2016
44                        Team Competition Guarantees  2016
45                                  Team Ticket Sales  2016
46                       Team Total Football Spending  2016
47                           Team footall_expense_pct  2016
48                          Team football_expense_pct  2016
49                                 Opp Total Expenses  2016
50                                        Opp Medical  2016
51                                     Opp Recruiting  2016
52                       Opp Game Expenses and Travel  2016
53                           Opp Coaches Compensation  2016
54                           Opp Athletic Student Aid  2016
55                                 Opp Total Revenues  2016
56  Opp Corporate Sponsorship, Advertising, Licensing  2016
57                            Opp Donor Contributions  2016
58                         Opp Competition Guarantees  2016
59                                   Opp Ticket Sales  2016
60                        Opp Total Football Spending  2016
61                            Opp footall_expense_pct  2016
62                           Opp football_expense_pct  2016

[63 rows x 2 columns]